<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <hr class="hr-2"/>
        <div class="jumbotron mt-3 bg-light text-center">
            <h1 class="text-danger">Страницата не е намерена!</h1>
            <hr class="bg-dark hr-2"/>
            <h3><a th:href="@{/home}">Обратно</a></h3>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>