<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <h2>Профил</h2>
        <div class="site-main">
            <ul>
                <li sec:authorize="isFullyAuthenticated()"><a class="button" th:href="@{/home}">Начало</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/employees}">Потребители</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/alloys}">Сплави</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/machines}">Машини</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/elements}">Елементи</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/shifts}">План на смените</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/documents}">Документи</a></li>
                <li sec:authorize="isFullyAuthenticated()"><a class="button" th:href="@{/personalData/{id}(id=${#authentication.getPrincipal().getId()})}">Лични данни</a></li>
                <li sec:authorize="isFullyAuthenticated()"><a class="button" th:href="@{/shifts/{id}(id=${#authentication.getPrincipal().getId()})}">Смени</a></li>
                <li sec:authorize="isFullyAuthenticated()"><a class="button" th:href="@{/logout}">Изход</a></li>
            </ul>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>