<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="site">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="site-content">
        <h2>Моите смени</h2>
        <div>
            <table class="table mb-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Тип смяна</th>
                    <th scope="col">Машина</th>
                    <th scope="col">Елемент</th>
                    <th scope="col">Сплав</th>
                </tr>
                </thead>
                <tbody th:each="shift, index : ${shifts}">
                <tr>
                    <th scope="row" th:text="${index.count}"></th>
                    <td><span th:text="'Дата: ' + ${shift.getDateOfShift()}"></span></td>
                    <td><span class="user-info" th:text="'Тип: ' + ${shift.getShiftType()}"></span></td>
                    <td><span class="user-email"
                              th:text="'Машина: ' + ${shift.getMachine().getMachineName()}"></span>
                    </td>
                    <td><span class="user-email"
                              th:text="'Елемент: ' + ${shift.getElement().getElementNumber()}"></span>
                    </td>
                    <td><span class="user-email"
                              th:text="'Сплав: ' + ${shift.getAlloy().getAlloyIdentification()}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>